.listing{
display: flex;
flex-direction: column;
gap: 10px;
background:#e8e7fa;
border-radius: 30px;
padding-bottom: 30px;
margin: 20px;
padding: 20px;

 &-heading {
    color: #605dc8;
 }
 &-heading {
    color: #605dc8;
 }
}